{% extends "base.html" %}
{% block content %}

<section class="card">
    <h2>Search Results</h2>

    {% if books %}
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>
                    {% if book.available %}
                        Available
                    {% else %}
                        Issued
                    {% endif %}
                </td>
                <td>
                    {% if not book.available %}
                        <a class="btn" href="/reserve/{{ book.id }}">Reserve</a>
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No books found.</p>
    {% endif %}
</section>

{% endblock %}